// Utilities
@import "utilities/variables.sass"

.list__item
  margin: 15px
  padding: 5px 30px
  background-color: rgb(250, 251, 254)
  border-top: 2px solid rgb(253, 254, 255)
  border-bottom: 1px solid rgb(221, 221, 221)
  border-left: 5px solid transparent
  position: relative
  -webkit-column-break-inside: avoid
  page-break-inside: avoid
  break-inside: avoid-column
  display: block
  box-shadow: 10px 10px rgb(67, 72, 88)
  line-height: 40px
  min-width: 500px
  height: 130px
  justify-content: center

.list__item--selected
  color: #fff
  background-color: $highlighted-background
  border-left: 5px solid $highlighted-border
  border-top: 2px solid rgb(44, 251, 255)
  border-bottom: 1px solid rgb(23, 142, 145)
  line-height: 40px

.list__item__column
  width: 50%
  display: inline-block
  vertical-align: middle
  position: relative

.list__item__number
  color: rgb(240, 243, 245)
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5)
  position: absolute
  top: 70px
  left: 20px
  font-size: 100px

.list__item--selected .list__item__number
  color: rgb(20, 188, 190)
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2)